<!DOCTYPE html>
{{#if page.language}}
<html lang="{{page.language}}">
{{else}}
{{#if site.language}}
<html lang="{{site.language}}">
{{/if}}
<html>
{{/if}}
  <head>
    <meta charset="utf-8" />
    <title>{{page.title}} &dash; {{site.title}}</title>
    <link rel="stylesheet" type="text/css" charset="utf-8" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" charset="utf-8" href="/css/skeleton.css" />
    <link rel="stylesheet" type="text/css" charset="utf-8" href="/css/custom.css" />
    {{#if page.keywords}}
      <meta name="keywords" content="{{join page.keywords}}" />
    {{/if}}
  </head>
  <body class="page">
    <div class="page__top">
      <header role="banner" class="header">
        <h1 class="header__title"><a href="{{site.url}}">{{site.title}}</a></h1>
      </header>
    </div>
