{{> head.html}}
<main class="page__body">
    {{#if page}}
      <h1>{{page.title}}</h1>
      {{{page.content}}}
    {{else}}
      {{#each pages}}
        <ol>
            <li><a href="{{url}}">{{title}}</a></li>
        </ol>
      {{/each}}
    {{/if}}
</main>
{{> foot.html}}
